# pycharm
.idea

# python
.venv
__pycache__

# allure
allure-results
allutre-report

# testing artifacts
*.html
*.json
videos
tracing

# Allure reports for the browser-matrix homework
!chromium-webkit/
!chromium-webkit/**
!webkit-firefox/
!webkit-firefox/**
!chromium-webkit-firefox/
!chromium-webkit-firefox/**

# my artifacts
my_info.md
fixtures/broweser_auto.py.venv/

# coverage
coverage.html
coverage-results
# coverage-history.json
# coverage-report.json
