<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red
        }
    </style>
</head>
<body>
<h1 id="h1-text">H1 text</h1>
<h2 class="h2-text">H2 text</h2>
<h3 class="h2-text">H3 text</h3>
<h4>H4 text</h4>
<h5>H5 text</h5>
<h6>H6 text</h6>
<p>Playwright creates a browser context for each test. <span style="color: green">Browser context</span> context is equivalent to a brand new browser profile.
    This delivers full test isolation with zero overhead. Creating a new browser context only takes a handful of
    milliseconds.</p>
<a href="https://playwright.dev/" target="_blank">Playwright</a>
<img alt="browecer.png" src="https://playwright.dev/img/logos/Browsers.png" style="width: 250px">
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
<ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>
<form action="/action" method="POST">
    <input type="text" value="1234" placeholder="Text">
    <input required type="email" value="1234" placeholder="Email">
    <input type="password" value="1234" placeholder="Password">
    <textarea placeholder="Test">1234</textarea>
    <textarea placeholder="Test">1234</textarea>
    <button type="submit" disabled>Text</button>
</form>
<table>
    <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
    </tbody>
</table>

</body>
</html>